/* --------- mixins --------- */
@mixin jenya($style : flight) {
	@if $style == flight {
		font-family: 'FuturaLightBT';
	}

	@if $style == fbold {
		font-family: 'FuturaMdBTBold';
	}

	@if $style == fmed {
		font-family: 'FuturaMediumBT';
	}

	@if $style == lbold {
		font-family: 'LucidaGrandeBold';
	}

	@if $style == lreg {
		font-family: 'LucidaGrandeRegular';
	}
}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin vertical-gradient($top-color: #ffffff, $bottom-color: #000000) {
	background-color: $top-color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, $top-color, $bottom-color); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, $top-color, $bottom-color); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, $top-color, $bottom-color); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, $top-color, $bottom-color); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$top-color, EndColorStr=$bottom-color);
}

@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 320px) {
		@content;
	}
}

@mixin main($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include jenya(flight);
	line-height: 1.6;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

button, 
button:active, 
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {color:#a5a5a5;}
input::-moz-placeholder {color:#a5a5a5;}/* Firefox 19 */
input:-moz-placeholder {color:#a5a5a5;}/* Firefox 18 */
input:-ms-input-placeholder {color:#a5a5a5;}

p {
	padding: 0;
	margin: 0;
}

img {
	user-select: none !important;
}

// base style flex
.main {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
}

.row {
	display: flex;
	position: relative;
	padding: 0 10px;
}

// header
.header {
	margin-bottom: 35px;
	& .row {
		padding-top: 15px;
		@include tablets {
			flex-flow: column wrap;
			align-items: center;
			padding-top: 15px;
		}
	}
}

.header__logo-wrap {

}

.header__logo-pic {
	width: 205px;
	height: 80px;
}

.header__logo-text {
	font-size: 24px;
	text-transform: uppercase;
	color: #1c285b;
	letter-spacing: 4px;
	margin-left: 10px;
	margin-top: -3px;
	@include jenya(flight);
}

.header__phone-wrap {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-top: 60px;
	margin-right: 7px;
	@include laptop {
		margin-left: 40px;
	}
	@include tablets {
		flex-flow: column wrap;
		align-items: center;
		margin: 30px auto 0;
	}
}

.header__phone {
	@include jenya(light);
	font-size: 26px;
	color: #1c285b;
	font-weight: 600;
	&-motivation {
		@include jenya(lreg);
		font-size: 18px;
		color: #1d275a;
		font-weight: 300;
	}
}

.header__link {
	width: 150px;
	height: 32px;
	font-size: 14px;
	@include jenya(flight);
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background-color: #1d275a;
	color: #fff;
	margin-left: 23px;
	border-radius: 3px;
	@include laptop {
		margin-left: 20px;
	}
	@include tablets {
		margin-left: 0;
		margin-top: 10px;
	}
	&:hover {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}

// menu
.menu {
	min-height: 52px;
	border-top: 1px solid #e2ddd8;
	border-bottom: 1px solid #e2ddd8;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color: #e2ddd8;
		top: -5px;
	}
}

.navbar {
	margin-bottom: 0;
	border: 0 none;
	& .container-fluid {
		padding-right: 0;
		@include desktop {
			padding-left: 12px;
		}
		@include laptop {
			padding: 0 5px;
		}
	}
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	@include laptop {
		width: 100%;
		margin: 0 auto;
		padding-right: 20px;
	}
	@include tablets {
		padding-right: 0;
	}
}

.navbar-default .navbar-nav > li > a {
	@include laptop {
		text-align: center;
	}
}

.navbar-default {
	width: 100%;
	background-color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	font-size: 14px;
	text-transform: uppercase;
}

.navbar-nav>li {
	font-size: 14px;
	text-transform: uppercase;
}

.menu-hov {
	position: relative;
	&::before {
		content: '';
		transition: opacity .15s;
		opacity: 0;
		position: absolute;
		height: 4px;
		width: 100%;
		top: -21px;
		left: 0;
		background-color: #1c285b;
	}
}

.navbar-default .navbar-nav>li>a {
	background-color: #fff;
	color: #5a5a5a;
	position: relative;
	transition: color .15s;
	&:hover {
		color: #1c285b;
		.menu-hov::before {
			opacity: 1;
		}
	}
	@include desktop {
		padding: 15px 5px;
	}
}

.navbar-toggle {
	@include laptop {
		margin-right: 0;
	}
}

.dropdown-menu_item {
	text-transform: none;
	position: relative;
}

.navbar-nav>li>.dropdown-menu {
	width: 200px;
	height: 140px;
	padding-top: 15px;
	background-color: #1d275a;
	left: 15px;
	border-right: 1px solid #fff;
}

.navbar-nav>li {
	position: relative;
}

.dropdown__pic {
	position: absolute;
	width: 140px;
	height: 138px;
	background: url('../img/menu-one.png') no-repeat center center/cover;
	right: -141px;
	top: 0;
	// transition: background .15s;
}

.menu-hov__mobile {
	display: none !important;
	@include laptop {
		display: block !important;
	}
}

.dropdown {
	@include laptop {
		display: none !important;
	}
}

.dropdown-menu>li>a {
	padding-left: 25px;
	color: #dddee4;
	transition: color .15s;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #1d275a;
	color: #c4ab2e;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: #fff;
}

.navbar-default .navbar-brand {
	color: #5a5a5a;
	position: relative;
	transition: color .15s;
	@include laptop {
		margin-left: 0 !important;
	}
	&:hover {
		color: #1c285b;
		.menu-hov::before {
			opacity: 1;
		}
	}
}



.navbar-brand {
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 14px;
	@include desktop {
		padding: 15px 5px;
	}
}

.nav>li>a {
	padding: 15px 15px;
}

.navbar-collapse {
	padding: 0;
}

// slider area
.slider {
	min-height: 765px;
	@include desktop {
		min-height: 0px;
		height: auto;
		padding-bottom: 80px;
	}
}

.slider__top {
	min-height: 235px;
	background: url('../img/slider-top.png') no-repeat center center/cover;
}

.slider__line {
	min-height: 70px;
	background-color: #1d275a;
	margin-bottom: 65px;
	@include desktop {
		margin-bottom: 35px;
	}
}

.slider__line-title {
	text-transform: uppercase;
	font-size: 36px;
	@include jenya(flight);
	color: #fff;
	margin-left: 10px;
	margin-bottom: 20px;
	@include laptop {
		margin: 15px auto;
	}
}

.slider__content {
	& .row {
		@include laptop {
			flex-flow: column wrap;
			align-items: center;
		}
	}
}

.slider__text {
	font-size: 13px;
	color: #787878;
	margin-left: 10px;
	margin-right: 35px;
	width: 500px;
	@include jenya(lreg);
	@include laptop {
		margin-right: 0;
	}
	@include tablets {
		width: 85%;
	}
	&-item {
		display: block;
		height: 18px;
	}
	&-call {
		color: #1d275a;
		@include jenya(lbold);
	}
}

.slider__text-item_hidden {
	@include desktop {
		display: none;
	}
	@include laptop {
		display: block;
	}
}

.slider__wrap {
	position: relative;
}

.slider__navs {
	position: absolute;
	height: 36px;
	width: 100%;
	// z-index: 2;
	top: 43px;
	left: 0;
	@include desktop {
		top: 53px;
	}
	@include laptop {
		top: 230px;
	}
	@include tablets {
		top: 186px;
	}
	@include phones {
		top: 129px;
	}
	&-left {
		position: absolute;
		width: 14px;
		height: 36px;
		left: 1%;
		z-index: 2;
		background: url('../img/sprite.png') no-repeat left -164px;
	}
	&-right {
		position: absolute;
		width: 14px;
		height: 36px;
		right: 1%;
		z-index: 2;
		background: url('../img/sprite.png') no-repeat -386px -165px;
	}
	& .owl-prev {
		position: absolute;
		left: 0;
		top: -15px;
		opacity: 0;
		width: 45px;
		height: 70px;
		cursor: pointer;
		z-index: 3;
	}
	& .owl-next {
		position: absolute;
		right: 0;
		top: -15px;
		opacity: 0;
		width: 45px;
		height: 70px;
		cursor: pointer;
		z-index: 3;
	}
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
	text-align: right;
	padding-right: 5px;
}

.owl-theme .owl-dots .owl-dot span {
	margin: 5px 4px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #1c285b;
}

.slider__item {
	width: 616px;
	position: relative;
	height: 564px;
	background-color: #fff;
	margin-top: -220px;
	@include desktop {
		width: 516px;
		height: 440px;
		margin-top: -160px;
	}
	@include laptop {
		margin-top: 35px;
	}
	@include tablets {
		width: 416px;
		height: 340px;
	}
	@include phones {
		width: 290px;
		height: 220px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		left: 0;
		z-index: 1;
		border-top: 50px solid transparent;
		border-left: 50px solid #fff;
		border-bottom: 50px solid transparent;
		top: 41%;
		@include laptop {
			top: 37%;
		}
		@include tablets {
			top: 35%;
		}
		@include phones {
			top: 28%;
		}
	}
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-top: 50px solid transparent;
		border-right: 50px solid #fff;
		border-bottom: 50px solid transparent;
		right: 0;
		top: 41%;
		@include laptop {
			top: 37%;
		}
		@include tablets {
			top: 35%;
		}
		@include phones {
			top: 28%;
		}
	}
}

.slider__link {
	display: block;
	position: relative;
	@include desktop {
		height: 100%;
	}
	&:focus {
		outline: none;
	}
	&:active {
		outline: none;
	}
}

.slider__pic {
	position: relative;
	width: 614px;
	height: 568px;
	border: 9px solid #fff;
	@include desktop {
		width: 516px;
		height: 440px;
	}
	@include tablets {
		width: 416px;
		height: 340px;
	}
	@include phones {
		width: 290px;
		height: 220px;
	}
	&-one {
		background: url('../img/1.png') no-repeat left center/cover;
	}
	&-two {
		background: url('../img/1.png') no-repeat left center/cover;
	}
	&-three {
		background: url('../img/1.png') no-repeat left center/cover;
	}
	&-four {
		background: url('../img/1.png') no-repeat left center/cover;
	}
	&-five {
		background: url('../img/1.png') no-repeat left center/cover;
	}
}

// pattern area
.pattern {
	& .row {
		display: flex;
		padding: 0 0 90px;
		justify-content: space-between;
		@include tablets {
			flex-flow: column wrap;
			align-items: center;
			padding-bottom: 40px;
		}
	}
}

.pattern__item {
	width: 367px;
	min-height: 300px;
	display: flex;
	flex-flow: column wrap;
	align-items: space-between;
	color: #fff;
	position: relative;
	@include desktop {
		width: 281px;
		min-height: 0;
		height: 195px;
	}
	@include laptop {
		width: 200px;
		height: 140px;
	}
	@include tablets {
		width: 367px;
		height: 250px;
		margin-bottom: 20px;
	}
	@include phones {
		width: 250px;
		height: 180px;
	}
	&-title {
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
		margin-bottom: 17px;
	}
	&-hov {
		text-align: center;
		background-color: transparent;
		position: absolute;
	}
	&-text {
		@include jenya(lreg);
		font-size: 13px;
		z-index: 5;
		position: absolute;
		width: 265px;
		text-align: left;
		line-height: 18px;
		left: 75px;
		top: 60px;
		opacity: 0;
		transition: opacity .15s;
		@include desktop {
			display: none;
		}
		&::before {
			content: '';
			position: absolute;
			background: url(../img/quote.png) no-repeat;
			width: 22px;
			height: 80px;
			left: -40px;
			top: -3px;
		}
	}
	&-link {
		width: 104px;
		position: absolute;
		height: 34px;
		border: 2px solid #fff;
		text-transform: uppercase;
		@include jenya(fmed);
		font-size: 14px;
		color: #fff;
		text-decoration: none;
		z-index: 5;
		bottom: 40px;
		left: 135px;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity .15s;
		@include desktop {
			opacity: 1;
			left: 90px;
			bottom: 80px;
		}
		@include laptop {
			left: 48px;
			bottom: 53px;
		}
		@include tablets {
			left: 135px;
			bottom: 105px;
		}
		@include phones {
			left: 73px;
			bottom: 69px;
		}
		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
	&-pic {
		display: block;
		position: relative;
		width: 367px;
		height: 250px;
		&:hover {
			&::before {
				background: rgba(#1d275a, .6);
			}
			& .pattern__item-text {
				opacity: 1;
			}
			& .pattern__item-link {
				opacity: 1;
			}
		}
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: background .2s;
			@include desktop {
				display: none;
			}
		}
		@include desktop {
			width: 281px;
	    height: 195px;
		}
	}
	&-pic_one {
		background: url('../img/pattern-one.png') no-repeat center center/cover;
	}
	&-pic_two {
		background: url('../img/pattern-two.png') no-repeat center center/cover;
	}
	&-pic_three {
		background: url('../img/pattern-three.png') no-repeat center center/cover;
	}
}

.pattern__item-pic {
	@include laptop {
		width: 200px;
		height: 140px;
	}
	@include tablets {
		width: 367px;
		height: 250px;
	}
	@include phones {
		width: 250px;
		height: 180px;
	}
}

.info {
	border-top: 1px solid #e2ddd8;
	position: relative;
	& .row {
		min-height: 255px;
		padding-top: 50px;
		@include laptop {
			flex-flow: column wrap;
			align-items: center;
		}
	}
	&::before {
		content: '';
		height: 5px;
		width: 100%;
		border-top: 1px solid #e2ddd8;
		position: absolute;
		top: -5px;
	}
	&__item {
		width: 30%;
		display: flex;
		flex-flow: column wrap;
		color: #5a5a5a;
	}
}

.info__social {
	position: absolute;
	top: -14px;
	left: 44%;
	width: 165px;
	background-color: #fff;
	height: 20px;
	display: flex;
	justify-content: center;
	@include desktop {
		left: 43%;
	}
	@include laptop {
		left: 41%;
	}
	@include tablets {
		left: 39%;
	}
	@include main(660px) {
		left: 37%;
	}
	@include main(570px) {
		left: 35%;
	}
	@include main(500px) {
		left: 34%;
	}
	@include phones {
		left: 33%;
	}
	@include main(440px) {
		left: 32%;
	}
	@include main(400px) {
		left: 30%;
	}
	@include main(380px) {
		left: 28%;
	}
	@include main(350px) {
		left: 25%;
	}
	@include main(320px) {
		left: 22%;
	}
	&-pic {
		margin: 0 5px;
		&_one {
			width: 11px;
			height: 21px;
			background: url('../img/sprite.png') no-repeat -283px -1px;
			&:hover {
				background: url('../img/sprite.png') no-repeat 0px -2px;
			}
		}
		&_two {
			width: 17px;
			height: 21px;
			background: url('../img/sprite.png') no-repeat -312px -1px;
			&:hover {
				background: url('../img/sprite.png') no-repeat -29px -2px;
			}
		}
		&_three {
			width: 22px;
			height: 18px;
			background: url('../img/sprite.png') no-repeat -344px -1px;
			&:hover {
				background: url('../img/sprite.png') no-repeat -61px -2px;
			}
		}
		&_four {
			width: 20px;
			height: 19px;
			background: url('../img/sprite.png') no-repeat -380px 0;
			&:hover {
				background: url('../img/sprite.png') no-repeat -97px -1px;
			}
		}
	}
}

.info__address {
	display: flex;
	flex-flow: column wrap;
	@include jenya(lreg);
	font-size: 13px;
	margin-right: 55px;
	@include desktop {
		margin-right: 0;
	}
	@include laptop {
		margin: 0 auto 30px;
	}
	&-link {
		&:hover {
			text-decoration: none;
		}
	}
}

.info__address-title {
	font-size: 17px;
	@include jenya(lreg);
	text-transform: uppercase;
}

.info__address-text {
	margin-bottom: 10px;
	margin-top: 5px;
}

.info__address-phone {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.address-phone_icon {
	width: 5px;
	margin-right: 15px;
	margin-left: 5px;
	height: 16px;
	display: block;
	background: url('../img/sprite.png') no-repeat -206px -84px;
}

.info__address-mail {
	display: flex;
	align-items: center;
}

.address-mail_icon {
	width: 14px;
	margin-right: 10px;
	height: 14px;
	display: block;
	background: url('../img/sprite.png') no-repeat -201px -108px;
}

.info__company {
	font-size: 13px;
	@include jenya(lreg);
	padding-left: 30px;
	margin-right: 90px;
	@include desktop {
		margin-right: 50px;
	}
	@include laptop {
		margin: 0 auto 30px;
		padding-left: 0;
	}
}

.info__company-title {
	font-size: 17px;
	@include jenya(lreg);
	text-transform: uppercase;
	margin-bottom: 5px;
}

.info__company-links {
	display: flex;
}

.company-links_aside {
	display: flex;
	flex-flow: column wrap;
	&:first-child {
		margin-right: 30px;
	}
}

.company-links_item {
	color: #a5a5a5;
	display: block;
	margin-bottom: 5px;
	&:hover {
		color: #c4ab2f;
		text-decoration: none;
	}
}

.info__news {
	font-size: 13px;
	@include jenya(lreg);
	@include desktop {
		padding-left: 50px;
	}
	@include laptop {
		margin: 0 auto 30px;
		padding-left: 0;
	}
	&-title {
		font-size: 17px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	&-text {
		color: #a5a5a5;
		margin-bottom: 12px;
	}
	&-button {
		color: #7a7a7a;
		width: 37px;
		height: 38px;
		&:hover {
			color: #7a7a7a;
		}
	}
}

div.search-wrap {
	width: 290px ;
}

.form-control {
	width: 250px;
	height: 38px;
	border-radius: 0;
	&:focus {
		box-shadow: 0 0 0;
		border-color: #ccc;
	}
}

button.btn {
	border-radius: 0;
}

.info__item {
	@include laptop {
		padding-left: 30px;
	}
	@include tablets {
		padding-left: 0px;
		width: 290px;
	}
}

.empty {
	height: 50px;
}
// section footer
.footer {
	position: relative;
	margin-top: -50px;
	min-height: 50px;
	background-color: #f4f3f3;
	font-size: 14px;
	color: #959595;
	& .row {
		padding-top: 15px;
		@include tablets {
			flex-flow: column wrap;
			align-items: center;
		}
	}
}

.footer__copyright {
	
}

.footer__link {
	margin-left: auto;
	margin-right: 5px;
	@include tablets {
		margin: 0 auto 15px;
	}
}

.footer__link-terms {
	color: #959595;
	&:hover {
		text-decoration: none;
	}
}

.footer__link-line {
	color: #959595;
}

.footer__link-policy {
	color: #959595;
	&:hover {
		text-decoration: none;
	}
}